<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/bundles/styles")
    @Scripts.Render("~/bundles/scripts")
</head>
<body>
<!-- header section strats -->
@* Header section starts *@
<header class="header_section">
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg custom_nav-container">
            @Html.ActionLink("Healet", "Index", "Home", new { }, new { @class = "navbar-brand" })
            <div class="" id="">
                <div class="custom_menu-btn">
                    <button onclick="openNav()">
                        <span class="s-1"> </span>
                        <span class="s-2"> </span>
                        <span class="s-3"> </span>
                    </button>
                    <div id="myNav" class="overlay">
                        <div class="overlay-content">
                            @Html.ActionLink("Home", "Index", "Home", new { }, new { })
                            @Html.ActionLink("About", "About", "Home", new { }, new { })
                            @Html.ActionLink("Shop", "Shop", "Home", new { }, new { })
                            @Html.ActionLink("Blog", "Blog", "Home", new { }, new { })
                            @Html.ActionLink("ReturnMe", "Form", "Return", new { }, new { })
                            @if (!User.Identity.IsAuthenticated)
                            {
                                @Html.ActionLink("SignIn", "SignIn", "UserAccount")
                                @Html.ActionLink("SignUp", "SignUp", "UserAccount")
                            }
                            else
                            {
                                @Html.ActionLink("SignOut", "SignOut", "UserAccount")
                                if (User.IsInRole("Administrator") || User.IsInRole("Moderator"))
                                {
                                    <li>@Html.ActionLink("Reviews", "Index", "Reviews")</li>
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</header>
    @RenderBody()

<footer class="footer_section">
        <div class="container">
          <p>
            &copy; <span id="displayYear"></span> All Rights Reserved By
            <a href="https://html.design/">Free Html Templates</a>
          </p>
        </div>
      </footer>

@Scripts.Render("~/bundles/scripts")
@RenderSection("scripts", required: false)
</body>
</html>